{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{ if eq .Data.Plural "goals" }}
    {{- partial "_shared/sitetitle.html" . -}}
    {{ else }}
    {{- partial "_shared/tacticaltitle.html" . -}}
    {{ end }}

    {{ with .Params.summary }}
    <p>{{ . | markdownify }}</p>
    {{ end }}

    <div class="main-content">
        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">            
            <div class="section-title">                
                <h2><span>{{ .Title }}</span></h2>                
            </div>            
            <div class="row listrecent">
                {{ $post_paginator := .Paginate (.Pages) 99 }}
                {{ range $post_paginator.Pages }}
                    {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
        {{- partial "list-partials/pagination.html" $post_paginator -}}
    </div>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/jumbotron.html" . -}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
