<section class="site-details">
    <p>This site aims to help you...</p>
    <ul class="tags">
        {{ range .Params.tacticalgoals }}
        <li>
        <a href="{{ "/tacticalgoals/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
        </li>
        {{ end }}
    </ul>
    <p>The recommendations are based on...</p>
    <ul class="tags">
        {{ range .Params.tacticalmethods }}
        <li>
        <a href="{{ "/tacticalmethods/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
        </li>
        {{ end }}
    </ul>
    
    <ul>
        {{ with .Params.jsonlink }}
        <li><a href={{.}}>Download recommendations json</a></li>
        {{end}}
        {{ with .Params.csvlink }}
        <li><a href={{.}}>Download recommendations csv</a></li>
        {{end}}
    </ul>
</section>
