<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                {{- partial "_shared/social.html" . -}}
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                &nbsp;
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->