<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ .Params.link }}">
                {{$images := .Resources.ByType "image"}}
                {{with $images.GetMatch "*cover*" }}
                    <img class="img-fluid" src="{{ .Permalink }}" alt="">
                {{end}}                
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .Params.link }}">{{ .Title }}</a></h2>
            {{- partial "_shared/bywho.html" . -}}
            <p class="card-text">{{ .Summary }}</p>
            {{ if or .Params.goals .Params.insidergoals .Params.tacticalgoals }}
            <h4 class="card-text">This site aims to help you...</h4>
            <ul class="tags">
                {{ with .Params.goals }}
                {{ range . }}
                <li>
                <a href="{{ "/goals/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                </li>
                {{ end }}
                {{ end }}
                {{ with .Params.insidergoals }}
                {{ range . }}
                <li>
                <a href="{{ "/insidergoals/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                </li>
                {{ end }}
                {{ end }}
                {{ with .Params.tacticalgoals }}
                {{ range . }}
                <li>
                <a href="{{ "/tacticalgoals/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
            {{ end }}
            {{ with .Params.tacticalmethods }}
            <h4 class="card-text">The recommendations are based on...</h4>
            <ul class="tags">
                {{ range . }}
                <li>
                <a href="{{ "/tacticalmethods/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {{if isset .Site.Params "author"}}
                {{if isset .Site.Params "author_thumb"}}
                    <span class="meta-footer-thumb">
                    <img class="author-thumb" src="{{ .Site.Params.author_thumb | urlize | relURL  }}" alt="{{ .Site.Params.author }}">
                    </span>                
                    <span class="author-meta">{{ .Site.Params.author }}</a></span><br/>
                {{end}}
                {{end}}
                {{ if eq .Site.Params.tacticaldetails true }}
                {{ if eq .Type "tactical" }}
                <a href="{{ .Permalink }}" title="Read more">Read more <span class="d-md-inline">→</span></a>
                {{ end }}
                {{ end }}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->
